.rightBar {
  width: 300px;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: var(--token-Ja7FXg_cLkuz);
  box-shadow: none;
  position: relative;
  padding: 16px;
  border-left: 1px solid #0000001a;
}
.rightBar > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.rightBar > :global(.__wab_flex-container) > *,
.rightBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rightBar > :global(.__wab_flex-container) > picture > img,
.rightBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 845px) {
  .rightBar {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .rightBar {
    display: none;
  }
}
.frame {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.frame > :global(.__wab_flex-container) > *,
.frame > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame > :global(.__wab_flex-container) > picture > img,
.frame > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 4px;
}
.content14 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  border-radius: 8px;
  padding: 8px 4px;
}
.content14 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.content14 > :global(.__wab_flex-container) > *,
.content14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content14 > :global(.__wab_flex-container) > picture > img,
.content14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.text127 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 8px;
}
.text128 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(27, 27, 27, 1);
  align-self: stretch;
  position: relative;
}
.iconText10 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  border-radius: 12px;
  padding: 8px;
}
.iconText10 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.iconText10 > :global(.__wab_flex-container) > *,
.iconText10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.iconText10 > :global(.__wab_flex-container) > picture > img,
.iconText10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.iconSet16 {
  background: rgba(226, 244, 255, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 4px;
}
.svg__z17KG {
  object-fit: cover;
  max-width: 100%;
  color: #1c1c1c;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text129 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 8px;
}
.text130 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(27, 27, 27, 1);
  align-self: stretch;
  position: relative;
}
.text131 {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(27, 27, 27, 0.4);
  align-self: stretch;
  position: relative;
}
.iconText11 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  border-radius: 12px;
  padding: 8px;
}
.iconText11 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.iconText11 > :global(.__wab_flex-container) > *,
.iconText11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.iconText11 > :global(.__wab_flex-container) > picture > img,
.iconText11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.iconSet17 {
  background: rgba(228, 235, 245, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 4px;
}
.svg__nHkJg {
  object-fit: cover;
  max-width: 100%;
  color: #1c1c1c;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text132 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 8px;
}
.text133 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(27, 27, 27, 1);
  align-self: stretch;
  position: relative;
}
.text134 {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(27, 27, 27, 0.4);
  align-self: stretch;
  position: relative;
}
.iconText12 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  border-radius: 12px;
  padding: 8px;
}
.iconText12 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.iconText12 > :global(.__wab_flex-container) > *,
.iconText12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.iconText12 > :global(.__wab_flex-container) > picture > img,
.iconText12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.iconSet18 {
  background: rgba(226, 244, 255, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 4px;
}
.svg__bpJn {
  object-fit: cover;
  max-width: 100%;
  color: #1c1c1c;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text135 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 8px;
}
.text136 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(27, 27, 27, 1);
  align-self: stretch;
  position: relative;
}
.text137 {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(27, 27, 27, 0.4);
  align-self: stretch;
  position: relative;
}
.iconText13 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  border-radius: 12px;
  padding: 8px;
}
.iconText13 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.iconText13 > :global(.__wab_flex-container) > *,
.iconText13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.iconText13 > :global(.__wab_flex-container) > picture > img,
.iconText13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.iconSet19 {
  background: rgba(228, 235, 245, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 4px;
}
.svg__zOx06 {
  object-fit: cover;
  max-width: 100%;
  color: #1c1c1c;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text138 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 8px;
}
.text139 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(27, 27, 27, 1);
  align-self: stretch;
  position: relative;
}
.text140 {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(27, 27, 27, 0.4);
  align-self: stretch;
  position: relative;
}
