.home {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.sidebar:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (max-width: 834px) {
  .sidebar:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .sidebar:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.body {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #f5f5f5;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.header:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 430px) {
  .header:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.content {
  position: relative;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  min-width: 0;
  min-height: 0;
  padding: 30px;
}
.content > :global(.__wab_flex-container) {
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.frame7 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.frame7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.frame7 > :global(.__wab_flex-container) > *,
.frame7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame7 > :global(.__wab_flex-container) > picture > img,
.frame7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
@media (min-width: 0px) and (max-width: 430px) {
  .frame7 {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .frame7 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .frame7 > :global(.__wab_flex-container) > *,
  .frame7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame7 > :global(.__wab_flex-container) > picture > img,
  .frame7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.frame8 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
}
.frame8 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame8 > :global(.__wab_flex-container) > *,
.frame8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame8 > :global(.__wab_flex-container) > picture > img,
.frame8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (min-width: 0px) and (max-width: 430px) {
  .frame8 {
    left: auto;
    top: auto;
  }
}
.hiKatiePena {
  display: block;
  font-size: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 46px;
  color: rgba(31, 31, 31, 1);
  position: relative;
  top: auto;
  left: auto;
  width: auto;
}
.welcomeBackToRhom {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 100%;
  color: rgba(136, 136, 136, 1);
  position: relative;
  top: auto;
  left: auto;
  width: auto;
}
.frame1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
}
.frame1 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.frame1 > :global(.__wab_flex-container) > *,
.frame1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1 > :global(.__wab_flex-container) > picture > img,
.frame1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
@media (min-width: 0px) and (max-width: 430px) {
  .frame1 {
    left: auto;
    top: auto;
  }
}
.button__q0E2F:global(.__wab_instance) {
  max-width: 100%;
}
.svg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__j35Rh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.frame10 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  background: var(--token-Ja7FXg_cLkuz);
  box-shadow: 0px 2px 8px 0px #0000000d;
  min-width: 0;
  min-height: 0;
  border-radius: 15px;
  padding: 15px;
}
@media (min-width: 0px) and (max-width: 430px) {
  .frame10 {
    left: auto;
    top: auto;
  }
}
.tabsContainer:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.freeBox__lgdEa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__ikzm6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.tabButton__wQBn:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.text__jxpDc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.svg__hh0Fv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jeKfm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__q4Uuo:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.text__djIlu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__c7Iif {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hfv8O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__bo3B6:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.text__nLw4T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg___7Gz0L {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__t5Kpo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__uPkwZ:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.text__nwMpI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__x06XP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__e9ZjJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__zqvV:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.text__mQxIe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__szWa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___8AsWy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabUnderline:global(.__wab_instance) {
  background: var(--token-iNAvusl4ky87);
  height: 2px;
  max-width: 100%;
  object-fit: cover;
}
.freeBox___3UdB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.tabContent__liAh6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__aLibl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.table:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 16px;
}
.tabContent__wSwlr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__kAiKy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.tabContent__xS1R8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox___8EsH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.tabContent__ym2LJ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__y6PkZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.tabContent__y9MJc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__cQgMu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.footer:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.rightBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 25;
  flex-shrink: 0;
  display: none;
}
@media (max-width: 834px) {
  .rightBar:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .rightBar:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.overlay {
  position: absolute;
  align-content: flex-start;
  justify-items: flex-end;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #00000026;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.overlay > * {
  grid-column: 4;
}
