.percentageBadge {
  display: inline-flex;
  flex-direction: row;
  width: auto;
  height: auto;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.percentageBadge > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.percentageBadge > :global(.__wab_flex-container) > *,
.percentageBadge > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.percentageBadge > :global(.__wab_flex-container) > picture > img,
.percentageBadge
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.slotTargetPercentageChange {
  font-size: 12px;
  white-space: pre;
  user-select: none;
}
.svg {
  object-fit: cover;
  max-width: 14px;
  height: 14px;
  width: 14px;
  max-height: 14px;
  min-height: 14px;
  min-width: 14px;
  color: var(--token-iNAvusl4ky87);
  transition-property: all;
  transition-duration: 0.5s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.svgnegative {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  color: #d3597a;
}
