.main {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.dashboard:global(.__wab_instance) {
  max-width: 100%;
}
.button__op5ZL:global(.__wab_instance) {
  max-width: 100%;
}
.svg__afgww {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__tzhOs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-HcdbHG3Uj2tS);
  margin-left: 5px;
}
.section {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  background: var(--token-Ja7FXg_cLkuz);
  box-shadow: 0px 2px 8px 0px #0000000d;
  min-height: 300px;
  min-width: 0;
  border-radius: 15px;
  padding: 20px;
}
.ctTabs:global(.__wab_instance) {
  max-width: 100%;
}
.tabsContainer:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.tabBody {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.tabBody > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.tabBody > :global(.__wab_flex-container) > *,
.tabBody > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tabBody > :global(.__wab_flex-container) > picture > img,
.tabBody
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.tabButton__qn8Vm:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.tabButton__boZKs:global(.__wab_instance) {
  max-width: 100%;
}
.svg__pFdjh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hHuM2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__oa144:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.tabButton__dljw7:global(.__wab_instance) {
  max-width: 100%;
}
.svg___8Sy9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__oPYx1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__zUbGd:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.tabButton__oeyAz:global(.__wab_instance) {
  max-width: 100%;
}
.svg__pBw3A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__w739I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton___76Jfi:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.tabButton__uEtSu:global(.__wab_instance) {
  max-width: 100%;
}
.svg__csuvi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__tjbdn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabUnderline:global(.__wab_instance) {
  background: var(--token-iNAvusl4ky87);
  height: 2px;
  object-fit: cover;
  max-width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}
.tabContent__hWfL9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.customTable__ac91:global(.__wab_instance) {
  max-width: 100%;
}
.tabContent___2Ki1N:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.customTable__gKUog:global(.__wab_instance) {
  max-width: 100%;
}
.tabContent__poyTo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.customTable__qMkSi:global(.__wab_instance) {
  max-width: 100%;
}
.tabContent__tS7I5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.customTable__dT5GE:global(.__wab_instance) {
  max-width: 100%;
}
