.menuItem {
  background: none;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  transition-property: all;
  transition-duration: 0.5s;
  cursor: pointer;
  justify-self: flex-start;
  position: relative;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  border-radius: 25px;
  padding: 8px 15px;
}
.menuItem > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.menuItem > :global(.__wab_flex-container) > *,
.menuItem > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuItem > :global(.__wab_flex-container) > picture > img,
.menuItem
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.menuItemcollapsed {
  width: auto;
  justify-self: flex-start;
  display: inline-flex;
}
.menuItemactive {
  background: var(--token-O4Zz0mqbaSbS);
}
.menuItem:hover {
  background: var(--token-O4Zz0mqbaSbS);
  width: 100%;
  min-width: 0;
}
.menuItem:hover > :global(.__wab_flex-container) {
  min-width: 0;
}
.menuItem:active {
  background: var(--token-iNAvusl4ky87);
}
.leftContent {
  height: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  position: relative;
}
.leftContent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.leftContent > :global(.__wab_flex-container) > *,
.leftContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.leftContent > :global(.__wab_flex-container) > picture > img,
.leftContent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.slotTargetIcon {
  color: var(--token-db3btmdZTlPQ);
}
.slotTargetIconactive {
  color: var(--token-Ja7FXg_cLkuz);
}
.menuItem:hover .slotTargetIcon {
  color: var(--token-Ja7FXg_cLkuz);
}
.menuItem:active .slotTargetIcon {
  color: var(--token-Ja7FXg_cLkuz);
}
.svg___1HY3A {
  object-fit: cover;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
}
.centerContent {
  display: flex;
  flex-grow: 1;
  position: relative;
  flex-direction: row;
  transition-property: all;
  -webkit-transition-property: all;
}
.centerContentcollapsed {
  display: none;
}
.slotTargetLabel {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--token-db3btmdZTlPQ);
  line-height: 1.5;
  letter-spacing: 0px;
  white-space: pre;
  user-select: none;
}
.slotTargetLabelactive {
  color: var(--token-Ja7FXg_cLkuz);
}
.menuItem:hover .slotTargetLabel {
  color: var(--token-Ja7FXg_cLkuz);
}
.menuItem:active .slotTargetLabel {
  color: var(--token-Ja7FXg_cLkuz);
}
.rightContent {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  transition-property: all;
  transition-duration: 0.2s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
}
.rightContent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.rightContent > :global(.__wab_flex-container) > *,
.rightContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rightContent > :global(.__wab_flex-container) > picture > img,
.rightContent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.rightContentshowBadge {
  display: flex;
}
.rightContentcollapsed {
  display: none;
}
