.buttonIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  justify-self: flex-start;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: none;
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  border-radius: 10px;
  padding: 6px;
  border: 3px solid #006e2826;
}
.buttonIcon:hover {
  background: #ffffff26;
}
.svg__c90X {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Ja7FXg_cLkuz);
  width: 12px;
  display: block;
  position: relative;
  height: 12px;
  flex-shrink: 0;
}
.svg__af6Hr {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Ja7FXg_cLkuz);
  width: 12px;
  display: block;
  position: relative;
  height: 12px;
  flex-shrink: 0;
}
