.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 15px;
}
.tableColumnActions {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.tableSearch:global(.__wab_instance) {
  max-width: 100%;
}
.svg__hSsz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-6D_pqZd49N3h);
}
.svg__duHe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__j4HIp {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__j4HIp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__j4HIp > :global(.__wab_flex-container) > *,
.freeBox__j4HIp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j4HIp > :global(.__wab_flex-container) > picture > img,
.freeBox__j4HIp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.dropdown__znizs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.menuItem__gyLpa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zL2Pw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__m5WQ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__iHid1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__q9N4E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dropdownButton:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.dropdown {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  background: var(--token-Ja7FXg_cLkuz);
  box-shadow: 0px 0px 6px 0px #0000001a;
  position: absolute;
  top: 30px;
  z-index: 99;
  border-radius: 8px;
  padding: 15px;
}
.dropdown > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.dropdown > :global(.__wab_flex-container) > *,
.dropdown > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.dropdown > :global(.__wab_flex-container) > picture > img,
.dropdown
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__zuRp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___5QKqU {
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  font-weight: 500;
  min-width: 0;
}
.freeBox__fXXaZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__fXXaZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__fXXaZ > :global(.__wab_flex-container) > *,
.freeBox__fXXaZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fXXaZ > :global(.__wab_flex-container) > picture > img,
.freeBox__fXXaZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
}
.svg__mtt3H {
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  width: 24px;
}
.tableColumnHeader {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.tableColumnHeader__vHmJr:global(.__wab_instance) {
  flex-shrink: 0;
}
.tableColumnHeader__csnvm:global(.__wab_instance) {
  flex-shrink: 0;
}
.tableColumnRow {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.tableColumnHeader__rktrE:global(.__wab_instance) {
  flex-shrink: 0;
}
.tableColumnHeader___9ZnYj:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__l41V {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px;
}
.table2:global(.__wab_instance) {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  padding: 16px;
}
.table3:global(.__wab_instance) {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  padding: 16px;
}
