.infoIcon {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  position: relative;
}
.svg {
  object-fit: cover;
  max-width: 15px;
  width: 15px;
  height: 15px;
  display: block;
  color: var(--token-HcdbHG3Uj2tS);
  min-height: 15px;
  max-height: 15px;
  flex-shrink: 0;
}
.svgoutline {
  color: var(--token-6D_pqZd49N3h);
}
