.main {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.sidebar:global(.__wab_instance) {
  z-index: 999;
  flex-shrink: 0;
}
@media (max-width: 834px) {
  .sidebar:global(.__wab_instance) {
    position: absolute;
    flex-shrink: 0;
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .sidebar:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.body {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #f5f5f5;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.header__nzfs8:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 834px) {
  .header__nzfs8:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .header__nzfs8:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.rightBarToggle:global(.__wab_instance) {
  margin-right: 0;
}
.userAvatar___5OWdN:global(.__wab_instance) {
  position: relative;
}
.notificationButton___1PmVg:global(.__wab_instance) {
  position: relative;
}
.messagesButton:global(.__wab_instance) {
  position: relative;
}
.homeButton__xdef:global(.__wab_instance) {
  position: relative;
}
.sidebarToggleButton:global(.__wab_instance) {
  position: relative;
}
.content {
  position: relative;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  padding: 30px 30px 0px;
}
.content > :global(.__wab_flex-container) {
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.contentBody {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.contentBody > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.contentBody > :global(.__wab_flex-container) > *,
.contentBody > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentBody > :global(.__wab_flex-container) > picture > img,
.contentBody
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 430px) {
  .welcomeBackToRhom {
    white-space: pre-wrap;
  }
}
.button__qt6Ak:global(.__wab_instance) {
  max-width: 100%;
}
.svg__uWjxt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uDIv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  background: var(--token-Ja7FXg_cLkuz);
  box-shadow: 0px 2px 8px 0px #0000000d;
  min-height: 300px;
  min-width: 0;
  border-radius: 15px;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 430px) {
  .section {
    left: auto;
    top: auto;
  }
}
.tabsContainer:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.tabBody {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.tabBody > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.tabBody > :global(.__wab_flex-container) > *,
.tabBody > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tabBody > :global(.__wab_flex-container) > picture > img,
.tabBody
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.tabButton___2NQlf:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.tabButton__aEbW0:global(.__wab_instance) {
  max-width: 100%;
}
.svg__xmqJa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___2CjWt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__tO73I:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.tabButton__uNn0G:global(.__wab_instance) {
  max-width: 100%;
}
.svg__yNf0A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hHxj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton___8PPEs:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.tabButton__hzGda:global(.__wab_instance) {
  max-width: 100%;
}
.svg__hmMbj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cVeMw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__l5NUq:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.tabButton__etJWr:global(.__wab_instance) {
  max-width: 100%;
}
.svg__budzY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ip2W5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabUnderline:global(.__wab_instance) {
  background: var(--token-iNAvusl4ky87);
  height: 2px;
  object-fit: cover;
  max-width: 100%;
}
.content2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}
.tabContent__nfjXm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.customTable__tQb6P:global(.__wab_instance) {
  max-width: 100%;
}
.tabContent___7ZKje:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.customTable__jzf5G:global(.__wab_instance) {
  max-width: 100%;
}
.tabContent__cQqt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.customTable__apE2Z:global(.__wab_instance) {
  max-width: 100%;
}
.tabContent___31Ju4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.customTable__xzdN4:global(.__wab_instance) {
  max-width: 100%;
}
.footer:global(.__wab_instance) {
  position: relative;
  margin-top: calc(30px + 30px) !important;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.rightBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 25;
  flex-shrink: 0;
}
@media (max-width: 834px) {
  .rightBar:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .rightBar:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.overlay {
  position: absolute;
  align-content: flex-start;
  justify-items: flex-end;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #00000026;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.overlay > * {
  grid-column: 4;
}
