.infoIcon {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  padding: 3px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #535353b3;
  width: 12px;
  height: 12px;
  display: block;
  flex-shrink: 0;
}
