.rightBarToggle {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  cursor: pointer;
  transform: none;
}
.tooltip:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  transform: none;
  transition-property: transform;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 1s;
}
.tooltipcollapsed:global(.__wab_instance) {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
}
.svg {
  object-fit: cover;
  max-width: 30px;
  height: 30px;
  color: var(--token-6D_pqZd49N3h);
  cursor: pointer;
  transform: none;
  width: 30px;
  min-height: 30px;
  max-height: 30px;
}
