.header {
  display: flex;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background: var(--token-Qi_GcLGvv6A8);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  position: relative;
  min-width: 0;
  border-bottom: 1px solid var(--token-OmDX5aGPAakM);
}
.headerCheckboxSection {
  display: flex;
  position: relative;
  width: 50px;
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
  height: 45px;
  background: none;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.ctHeaderLabel__fyRdF:global(.__wab_instance) {
  position: relative;
}
.headerMoreSection {
  display: flex;
  position: relative;
  width: 50px;
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
  height: 45px;
  background: none;
  border-top-right-radius: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
