.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 45px;
  max-width: 100%;
  background: var(--token-Qi_GcLGvv6A8);
  transition-property: all;
  transition-duration: 0.8s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.8s;
  padding: 5px 10px;
  border-bottom: 1px solid #cecece80;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
.rootstateTypes_info {
  width: 100%;
  height: 45px;
  max-width: 100%;
  background: var(--token-Qi_GcLGvv6A8);
  flex-direction: row;
  min-width: 0;
  padding: 5px 0px 5px 8px;
  border-bottom: 1px solid #cecece80;
}
.rootstateTypes_info > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootstateTypes_info > :global(.__wab_flex-container) > *,
.rootstateTypes_info
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.rootstateTypes_info > :global(.__wab_flex-container) > picture > img,
.rootstateTypes_info
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
  margin-top: 0px;
}
.rootstateTypes_checkBox {
  width: 40px;
  height: 45px;
  max-width: 100%;
  border-top-left-radius: 8px;
  background: var(--token-Qi_GcLGvv6A8);
  cursor: default;
  flex-direction: row;
  padding: 5px;
  border-bottom: 1px solid #cecece80;
}
.rootstateTypes_checkBox > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootstateTypes_checkBox > :global(.__wab_flex-container) > *,
.rootstateTypes_checkBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.rootstateTypes_checkBox > :global(.__wab_flex-container) > picture > img,
.rootstateTypes_checkBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
  margin-top: 0px;
}
.rootstateTypes_empty {
  width: 40px;
  height: 45px;
  max-width: 100%;
  background: var(--token-Qi_GcLGvv6A8);
  cursor: default;
  flex-direction: row;
  padding: 5px;
  border-bottom: 1px solid #cecece80;
}
.rootstateTypes_empty > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootstateTypes_empty > :global(.__wab_flex-container) > *,
.rootstateTypes_empty
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.rootstateTypes_empty > :global(.__wab_flex-container) > picture > img,
.rootstateTypes_empty
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
  margin-top: 0px;
}
.rootsortTypes_ascending {
  background: var(--token-0eEXGjtMoqHb);
}
.rootsortTypes_descending {
  background: var(--token-0eEXGjtMoqHb);
}
.rootendRow {
  border-top-right-radius: 8px;
}
.rootstateTypes_sorting:hover {
  background: var(--token-0eEXGjtMoqHb);
  cursor: pointer;
}
.line {
  display: block;
  position: absolute;
  width: 2px;
  padding-left: 0;
  padding-right: 0;
  height: 25px;
  z-index: 1;
  left: 0px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: linear;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 1s;
  border-left: 1px solid var(--token-OmDX5aGPAakM);
}
.rootstateTypes_sorting:hover .linestateTypes_sorting {
  display: none;
}
.state {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background: none;
  min-width: 0;
}
.state > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.state > :global(.__wab_flex-container) > *,
.state > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.state > :global(.__wab_flex-container) > picture > img,
.state > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 5px;
}
.statestateTypes_checkBox {
  width: auto;
  height: auto;
  border-right-style: solid;
  border-right-color: #cecece80;
  background: var(--token-Qi_GcLGvv6A8);
  cursor: pointer;
  flex-direction: row;
  border-width: 0px;
}
.statestateTypes_checkBox > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.statestateTypes_checkBox > :global(.__wab_flex-container) > *,
.statestateTypes_checkBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.statestateTypes_checkBox > :global(.__wab_flex-container) > picture > img,
.statestateTypes_checkBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
  margin-top: 0px;
}
.statestateTypes_empty > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
}
.root:hover .state {
  border-width: 0px;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.checkboxstateTypes_checkBox:global(.__wab_instance) {
  display: flex;
}
.freeBox {
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBoxstateTypes_info {
  width: auto;
}
.freeBoxstateTypes_checkBox {
  display: none;
}
.freeBoxstateTypes_empty {
  display: none;
}
.slotTargetChildren {
  font-weight: 500;
  color: var(--token-pQARgiXwvs4L);
}
.tooltip__qfadY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.tooltipstateTypes_sorting__qfadYNrt9F:global(.__wab_instance) {
  display: flex;
}
.tooltipstateTypes_info__qfadYnkn1N:global(.__wab_instance) {
  display: none;
}
.tooltipstateTypes_checkBox__qfadYnkuVm:global(.__wab_instance) {
  display: none;
}
.tooltipstateTypes_empty__qfadYh6JoR:global(.__wab_instance) {
  display: none;
}
.tooltipsortTypes_ascending__qfadYGTfT:global(.__wab_instance) {
  display: flex;
}
.tooltipsortTypes_descending__qfadY8HJjj:global(.__wab_instance) {
  display: flex;
}
.sorting {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 3px;
}
.sorting > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.sorting > :global(.__wab_flex-container) > *,
.sorting > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sorting > :global(.__wab_flex-container) > picture > img,
.sorting
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.svg__bmOrH {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-db3btmdZTlPQ);
  width: 8px;
  height: 5px;
  display: block;
  flex-shrink: 0;
  border-radius: 0.5px;
}
.svgsortTypes_ascending__bmOrHGTfT {
  color: var(--token-iNAvusl4ky87);
}
.rootstateTypes_sorting:hover .svgstateTypes_sorting__bmOrHNrt9F {
  color: #53535399;
}
.rootsortTypes_ascending_stateTypes_sorting:hover
  .svgsortTypes_ascending_stateTypes_sorting__bmOrHGTfTNrt9F {
  color: var(--token-iNAvusl4ky87);
}
.svg___3KXqS {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-db3btmdZTlPQ);
  width: 8px;
  height: 5px;
  display: block;
  flex-shrink: 0;
  border-radius: 0.5px;
}
.svgsortTypes_descending___3KXqS8HJjj {
  color: var(--token-iNAvusl4ky87);
}
.rootstateTypes_sorting:hover .svgstateTypes_sorting___3KXqSNrt9F {
  width: 8px;
  height: 5px;
  max-width: 100%;
  color: #53535399;
  flex-shrink: 0;
  border-radius: 0.5px;
}
.rootsortTypes_descending_stateTypes_sorting:hover
  .svgsortTypes_descending_stateTypes_sorting___3KXqS8HJjjNrt9F {
  color: var(--token-iNAvusl4ky87);
}
.tooltip__sdn88:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.tooltipstateTypes_info__sdn88Nkn1N:global(.__wab_instance) {
  display: flex;
}
.tooltipstateTypes_checkBox__sdn88NkuVm:global(.__wab_instance) {
  display: none;
}
.tooltipstateTypes_empty__sdn88H6JoR:global(.__wab_instance) {
  display: flex;
}
.infoIcon {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 3px;
}
.svg__u7GHt {
  object-fit: cover;
  max-width: 100%;
  color: #868fa0;
  width: 12px;
  height: 12px;
  display: block;
  flex-shrink: 0;
}
