.home {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.dashboard:global(.__wab_instance) {
  height: auto;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__h5Ieh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___8LT5Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.keyMetrics {
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  flex-direction: row;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.keyMetrics > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.keyMetrics > :global(.__wab_flex-container) > *,
.keyMetrics > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.keyMetrics > :global(.__wab_flex-container) > picture > img,
.keyMetrics
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 30px;
}
@media (max-width: 834px) {
  .keyMetrics {
    display: flex;
  }
}
@media (max-width: 834px) {
  .keyMetrics > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (max-width: 834px) {
  .keyMetrics > :global(.__wab_flex-container) > *,
  .keyMetrics > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .keyMetrics > :global(.__wab_flex-container) > picture > img,
  .keyMetrics
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 30px;
  }
}
.metricsCard__uG2Sv:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 834px) {
  .metricsCard__uG2Sv:global(.__wab_instance) {
    width: 45%;
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .metricsCard__uG2Sv:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg___4RJl {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  width: 25px;
  height: 25px;
}
.percentageBadge:global(.__wab_instance) {
  position: relative;
}
.metricsCard__yu49:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 834px) {
  .metricsCard__yu49:global(.__wab_instance) {
    width: 45%;
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .metricsCard__yu49:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__kRGhR {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  width: 25px;
  height: 25px;
  margin-bottom: 2px;
}
.percentageBadge__d05Cl:global(.__wab_instance) {
  position: relative;
}
.metricsCard__pVu4V:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 834px) {
  .metricsCard__pVu4V:global(.__wab_instance) {
    width: 45%;
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .metricsCard__pVu4V:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__n6Fp {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  width: 25px;
  height: 25px;
}
.percentageBadge__touua:global(.__wab_instance) {
  position: relative;
}
.metricsCard__y8Tn:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 834px) {
  .metricsCard__y8Tn:global(.__wab_instance) {
    width: 45%;
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .metricsCard__y8Tn:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__jKaLe {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  width: 25px;
  height: 25px;
}
.percentageBadge__v8KH:global(.__wab_instance) {
  position: relative;
}
.keyMetrics2 {
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  flex-direction: row;
  min-width: 0;
}
.keyMetrics2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.keyMetrics2 > :global(.__wab_flex-container) > *,
.keyMetrics2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.keyMetrics2 > :global(.__wab_flex-container) > picture > img,
.keyMetrics2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 30px;
}
@media (max-width: 834px) {
  .keyMetrics2 {
    display: flex;
  }
}
@media (max-width: 834px) {
  .keyMetrics2 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (max-width: 834px) {
  .keyMetrics2 > :global(.__wab_flex-container) > *,
  .keyMetrics2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .keyMetrics2 > :global(.__wab_flex-container) > picture > img,
  .keyMetrics2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 30px;
  }
}
.sectionMetrics__pk7VY:global(.__wab_instance) {
  max-width: 100%;
}
.chart:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.select__dwS00:global(.__wab_instance) {
  max-width: 100%;
}
.sectionMetrics__socan:global(.__wab_instance) {
  max-width: 100%;
}
.select___27BOc:global(.__wab_instance) {
  max-width: 100%;
}
.keyMetrics3 {
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  flex-direction: row;
  min-width: 0;
}
.keyMetrics3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.keyMetrics3 > :global(.__wab_flex-container) > *,
.keyMetrics3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.keyMetrics3 > :global(.__wab_flex-container) > picture > img,
.keyMetrics3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 30px;
}
@media (max-width: 834px) {
  .keyMetrics3 {
    display: flex;
  }
}
@media (max-width: 834px) {
  .keyMetrics3 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (max-width: 834px) {
  .keyMetrics3 > :global(.__wab_flex-container) > *,
  .keyMetrics3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .keyMetrics3 > :global(.__wab_flex-container) > picture > img,
  .keyMetrics3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 30px;
  }
}
.sectionMetrics__uvuSa:global(.__wab_instance) {
  max-width: 100%;
}
.customTable:global(.__wab_instance) {
  max-width: 100%;
}
.select__dZ03:global(.__wab_instance) {
  max-width: 100%;
}
