.body {
  display: flex;
  position: relative;
  width: 280px;
  height: 100%;
  background: var(--token-agMVXjnCbzoc);
  box-shadow: none;
  justify-self: flex-start;
  transition-property: all;
  transition-duration: 1s;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (max-width: 834px) {
  .body {
    width: 0px;
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .body {
    width: 0px;
  }
}
.bodycollapsed {
  width: 80px;
}
.bodyisVisible {
  background: none;
  width: 0px;
}
@media (min-width: 0px) and (max-width: 430px) {
  .bodyisVisible {
    width: 0px;
  }
}
.bodycollapsed:hover {
  width: 80px;
  justify-self: flex-start;
}
.sidebar {
  background: var(--token-agMVXjnCbzoc);
  box-shadow: none;
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition-property: all;
  transition-duration: 0.6s;
  z-index: 1;
  position: sticky;
  flex-shrink: 0;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.6s;
  padding: 30px;
}
.sidebar > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.sidebar > :global(.__wab_flex-container) > *,
.sidebar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sidebar > :global(.__wab_flex-container) > picture > img,
.sidebar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (max-width: 834px) {
  .sidebar {
    position: absolute;
    width: 270px;
    right: 0px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .sidebar {
    width: 100vw;
    right: 0px;
    flex-shrink: 0;
  }
}
.sidebarcollapsed {
  width: 80px;
  padding-left: 15px;
  padding-right: 15px;
  flex-shrink: 0;
}
.sidebarcollapsed > :global(.__wab_flex-container) {
  align-items: center;
}
.sidebarisVisible {
  position: absolute;
  left: 0px;
  width: 270px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 430px) {
  .sidebarisVisible {
    width: 100vw;
    flex-shrink: 0;
  }
}
.bodycollapsed:hover .sidebarcollapsed {
  width: 280px;
  z-index: 1;
  position: absolute;
  flex-shrink: 0;
  padding: 30px;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.navigationHeader {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  margin-bottom: 15px;
  width: 100%;
  min-width: 0;
}
.navigationHeader > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.navigationHeader > :global(.__wab_flex-container) > *,
.navigationHeader > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigationHeader > :global(.__wab_flex-container) > picture > img,
.navigationHeader
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.navigationHeadercollapsed > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
}
.bodycollapsed:hover
  .navigationHeadercollapsed
  > :global(.__wab_flex-container) {
  justify-content: space-between;
}
.logo:global(.__wab_instance) {
  position: relative;
}
.logocollapsed:global(.__wab_instance) {
  display: none;
}
.bodycollapsed:hover .logocollapsed:global(.__wab_instance) {
  display: flex;
}
.svg__ba01F {
  object-fit: cover;
  max-width: 100%;
  color: #101010;
  width: 30px;
  display: block;
  position: relative;
  overflow: hidden;
  height: 30px;
}
.svg__l8W0S {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  color: var(--token-Ja7FXg_cLkuz);
  margin-top: 0;
  min-width: 0;
}
.svgcollapsed__l8W0SiUi1M {
  display: none;
}
.bodycollapsed:hover .svgcollapsed__l8W0SiUi1M {
  display: block;
}
.sidebarToggle:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 834px) {
  .sidebarToggle:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.sidebarTogglecollapsed:global(.__wab_instance) {
  flex-shrink: 0;
}
.sidebarToggleisVisible:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.svg__vl5Nj {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Ja7FXg_cLkuz);
  width: 12px;
  display: block;
  position: relative;
  height: 12px;
}
.svg__k3GGf {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Ja7FXg_cLkuz);
  width: 12px;
  display: block;
  position: relative;
  height: 12px;
}
.sidebarToggleResponsive:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 834px) {
  .sidebarToggleResponsive:global(.__wab_instance) {
    flex-shrink: 0;
    display: flex;
  }
}
.sidebarToggleResponsivecollapsed:global(.__wab_instance) {
  flex-shrink: 0;
}
.sidebarToggleResponsiveisVisible:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__lDyYr {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Ja7FXg_cLkuz);
  width: 12px;
  display: block;
  position: relative;
  height: 12px;
}
.svg___4XP1 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Ja7FXg_cLkuz);
  width: 12px;
  display: block;
  position: relative;
  height: 12px;
}
.searchbox:global(.__wab_instance) {
  max-width: 100%;
}
.searchboxcollapsed:global(.__wab_instance) {
  margin-right: 5px;
}
@media (min-width: 0px) and (max-width: 430px) {
  .searchboxisVisible:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.navigation {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebarNavigationDropdown__fum8J:global(.__wab_instance) {
  max-width: 100%;
}
.svg__tmG4V {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
}
.sidebarNavigationSubitem:global(.__wab_instance) {
  max-width: 100%;
}
.sidebarNavigationSubitem3:global(.__wab_instance) {
  max-width: 100%;
}
.navigation2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.navigation2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.navigation2 > :global(.__wab_flex-container) > *,
.navigation2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigation2 > :global(.__wab_flex-container) > picture > img,
.navigation2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.title {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 8px;
}
.titlecollapsed {
  height: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 8px;
  border-top: 0.5px solid #cecece40;
}
.bodycollapsed:hover .titlecollapsed {
  border-top-style: none;
  margin-top: calc(0px + 5px) !important;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}
.text__dW9T {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 1.5;
  color: var(--token-Ja7FXg_cLkuz);
  position: relative;
  white-space: pre;
  user-select: none;
}
.textcollapsed__dW9TiUi1M {
  display: none;
}
.bodycollapsed:hover .textcollapsed__dW9TiUi1M {
  display: block;
}
.sidebarNavigationItem__aI5E:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__tEg7K {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
}
.sidebarNavigationItem__wa8Df:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__rnmwa {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
}
.sidebarNavigationItem__vD4X1:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__npPHs {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
}
.sidebarNavigationItem__m1WaZ:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__ht617 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
}
.navigation3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.navigation3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.navigation3 > :global(.__wab_flex-container) > *,
.navigation3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigation3 > :global(.__wab_flex-container) > picture > img,
.navigation3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.title2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 8px;
}
.title2collapsed {
  margin-right: 5px;
  margin-left: 5px;
  border-top: 0.5px solid #cecece40;
}
.bodycollapsed:hover .title2collapsed {
  border-top-style: none;
  margin-top: calc(0px + 5px) !important;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}
.text__cpag3 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 1.5;
  color: var(--token-Ja7FXg_cLkuz);
  position: relative;
  user-select: none;
  white-space: pre;
}
.textcollapsed__cpag3IUi1M {
  display: none;
}
.bodycollapsed:hover .textcollapsed__cpag3IUi1M {
  display: block;
}
.sidebarNavigationDropdown___6NnS:global(.__wab_instance) {
  max-width: 100%;
}
.svg___8CrqZ {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
}
.sidebarNavigationSubitem2:global(.__wab_instance) {
  max-width: 100%;
}
.sidebarNavigationSubitem4:global(.__wab_instance) {
  max-width: 100%;
}
.sidebarNavigationSubitem5:global(.__wab_instance) {
  max-width: 100%;
}
.sidebarNavigationSubitem6:global(.__wab_instance) {
  max-width: 100%;
}
.sidebarNavigationItem___2Kt5V:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__eTkW0 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
}
.sidebarNavigationItem__u9Bcy:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__wsyMd {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
}
.accountSection {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.accountSection > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.accountSection > :global(.__wab_flex-container) > *,
.accountSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.accountSection > :global(.__wab_flex-container) > picture > img,
.accountSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.accountSectioncollapsed > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
}
.bodycollapsed:hover .accountSectioncollapsed > :global(.__wab_flex-container) {
  justify-content: space-between;
}
.avatarLabel {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.avatarLabel > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.avatarLabel > :global(.__wab_flex-container) > *,
.avatarLabel > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.avatarLabel > :global(.__wab_flex-container) > picture > img,
.avatarLabel
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  display: block !important;
  position: relative;
  flex-shrink: 0;
  border-radius: 50px;
  border: 2px solid var(--token-iNAvusl4ky87);
}
.img > picture > img {
  object-fit: cover;
}
.imgcollapsed {
  cursor: pointer;
}
.nameRolle {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.nameRolle > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.nameRolle > :global(.__wab_flex-container) > *,
.nameRolle > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.nameRolle > :global(.__wab_flex-container) > picture > img,
.nameRolle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 3px;
}
.nameRollecollapsed {
  display: none;
}
.bodycollapsed:hover .nameRollecollapsed {
  display: flex;
}
.text__atUgn {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.badgeLabel:global(.__wab_instance) {
  position: relative;
}
.tooltip:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__c8Wep {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-db3btmdZTlPQ);
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
}
.svgcollapsed__c8WepiUi1M {
  display: none;
}
.bodycollapsed:hover .svgcollapsed__c8WepiUi1M {
  display: block;
}
