.sidebarToggle {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  cursor: pointer;
  padding: 8px 8px 8px 0px;
}
@media (max-width: 834px) {
  .sidebarToggle {
    padding-left: 0px;
  }
}
.svg {
  object-fit: cover;
  max-width: 30px;
  height: 30px;
  color: var(--token-6D_pqZd49N3h);
  transition-property: all;
  transition-duration: 0.5s;
  width: 30px;
  min-width: 30px;
  min-height: 30px;
  max-height: 30px;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.sidebarToggle:hover .svg {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
}
