.subItem {
  background: none;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  min-width: 0;
  border-radius: 25px;
  padding: 5px 10px;
}
.subItem > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.subItem > :global(.__wab_flex-container) > *,
.subItem > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.subItem > :global(.__wab_flex-container) > picture > img,
.subItem
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
  margin-top: 5px;
}
.slotTargetLabel {
  color: var(--token-db3btmdZTlPQ);
  font-size: 12px;
  user-select: none;
  white-space: pre;
}
.slotTargetLabelactive {
  color: var(--token-Ja7FXg_cLkuz);
}
.subItem:hover .slotTargetLabel {
  color: var(--token-Ja7FXg_cLkuz);
}
