.menuItem {
  background: none;
  width: 224px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-self: flex-start;
  max-width: 100%;
}
.menuItem > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.menuItem > :global(.__wab_flex-container) > *,
.menuItem > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuItem > :global(.__wab_flex-container) > picture > img,
.menuItem
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.menuItemcollapsed {
  width: auto;
  justify-self: flex-start;
  display: inline-flex;
}
.menuItem:hover {
  background: none;
}
.menuItem:active {
  width: 224px;
  height: auto;
  max-width: 100%;
  background: none;
  flex-direction: column;
}
.menuItem:active > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.menuItem:active > :global(.__wab_flex-container) > *,
.menuItem:active > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuItem:active > :global(.__wab_flex-container) > picture > img,
.menuItem:active
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.navigation {
  display: flex;
  position: relative;
  width: auto;
  flex-direction: row;
  height: auto;
  background: none;
  cursor: pointer;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 25px;
  padding: 8px 15px;
}
.navigation > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.navigation > :global(.__wab_flex-container) > *,
.navigation > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigation > :global(.__wab_flex-container) > picture > img,
.navigation
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.navigationisOpen {
  width: auto;
  height: auto;
  background: #006e2880;
  cursor: pointer;
  flex-direction: row;
  border-radius: 25px;
  padding: 8px 15px;
}
.navigationisOpen > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.navigationisOpen > :global(.__wab_flex-container) > *,
.navigationisOpen > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigationisOpen > :global(.__wab_flex-container) > picture > img,
.navigationisOpen
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
  margin-top: 0px;
}
.navigationcollapsed {
  background: none;
}
.menuItem:hover .navigation {
  background: #006e2840;
}
.menuItem:active .navigation {
  width: auto;
  height: auto;
  background: #006e2880;
  cursor: pointer;
  flex-direction: row;
  border-radius: 25px;
  padding: 8px 15px;
}
.menuItem:active .navigation > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.menuItem:active .navigation > :global(.__wab_flex-container) > *,
.menuItem:active
  .navigation
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.menuItem:active .navigation > :global(.__wab_flex-container) > picture > img,
.menuItem:active
  .navigation
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
  margin-top: 0px;
}
.leftContent {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
}
.leftContent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.leftContent > :global(.__wab_flex-container) > *,
.leftContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.leftContent > :global(.__wab_flex-container) > picture > img,
.leftContent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.slotTargetStartIcon {
  color: var(--token-db3btmdZTlPQ);
}
.slotTargetStartIconisOpen {
  color: var(--token-Ja7FXg_cLkuz);
}
.menuItem:hover .slotTargetStartIcon {
  color: var(--token-Ja7FXg_cLkuz);
}
.menuItem:active .slotTargetStartIcon {
  color: var(--token-Ja7FXg_cLkuz);
}
.svg__d6UyW {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.freeBox__dOop {
  display: flex;
  flex-grow: 1;
  position: relative;
  flex-direction: row;
}
.freeBoxcollapsed__dOopORbRo {
  display: none;
}
.slotTargetChildren {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--token-db3btmdZTlPQ);
  line-height: 1.5;
  letter-spacing: 0px;
}
.slotTargetChildrenisOpen {
  color: var(--token-Ja7FXg_cLkuz);
}
.menuItem:hover .slotTargetChildren {
  color: var(--token-Ja7FXg_cLkuz);
}
.menuItem:active .slotTargetChildren {
  color: var(--token-Ja7FXg_cLkuz);
}
.rightContent {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.rightContent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.rightContent > :global(.__wab_flex-container) > *,
.rightContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rightContent > :global(.__wab_flex-container) > picture > img,
.rightContent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.rightContentcollapsed {
  display: none;
}
.freeBox__lVyzv {
  background: var(--token-Ja7FXg_cLkuz);
  box-shadow: inset 0px 0px 0px 1px var(--token-db3btmdZTlPQ);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  padding: 2px 6px;
}
.text__y0Kvt {
  display: block;
  font-size: 9px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.5;
  color: var(--token-agMVXjnCbzoc);
  position: relative;
  padding-top: 0px;
}
.svg__nMaEp {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Ja7FXg_cLkuz);
  width: 15px;
  height: 15px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.freeBox__hHf60 {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxisOpen__hHf60HIn8 {
  display: flex;
  padding: 0px;
}
.subItem__l8Xv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
