.noDataSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 100%;
  padding: 50px;
}
.noDataSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.noDataSection > :global(.__wab_flex-container) > *,
.noDataSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.noDataSection > :global(.__wab_flex-container) > picture > img,
.noDataSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 50px;
  opacity: 0.5;
  flex-shrink: 0;
}
.text {
  color: var(--token-db3btmdZTlPQ);
  white-space: pre;
  user-select: none;
}
