.header {
  display: flex;
  width: 100%;
  height: 85px;
  max-width: 100%;
  flex-direction: row;
  background: #ffffff;
  position: relative;
  min-width: 0;
  padding: 15px 25px;
  border-bottom: 1px solid #0000001a;
  border-left: 1px solid #0000001a;
}
.header > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 834px) {
  .header {
    height: 85px;
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .header {
    height: 75px;
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .header > :global(.__wab_flex-container) {
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .header > :global(.__wab_flex-container) > *,
  .header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .header > :global(.__wab_flex-container) > picture > img,
  .header
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 0px;
  }
}
.actions {
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  flex-direction: row;
  min-width: 0;
}
.actions > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.actions > :global(.__wab_flex-container) > *,
.actions > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.actions > :global(.__wab_flex-container) > picture > img,
.actions
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.sidebarToggleButton__rBwFr:global(.__wab_instance) {
  position: relative;
}
.rightBarToggle__cgx5:global(.__wab_instance) {
  margin-right: 0;
}
@media (min-width: 0px) and (max-width: 430px) {
  .breadcrumb:global(.__wab_instance) {
    display: none;
  }
}
.alerts {
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  flex-direction: row;
  min-width: 0;
}
.alerts > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.alerts > :global(.__wab_flex-container) > *,
.alerts > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.alerts > :global(.__wab_flex-container) > picture > img,
.alerts
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.homeButton__qy4Qc:global(.__wab_instance) {
  position: relative;
}
.messagesButton___8UM0:global(.__wab_instance) {
  position: relative;
}
.notificationButton__kS6Mh:global(.__wab_instance) {
  position: relative;
}
.userAvatar__nZysw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
